<!DOCTYPE HTML>
<html>
  <head>
    <title>LeanEngine</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>LeanEngine</h1>
    <p>Contango</p>
    <p>当前时间：<%= currentTime %></p>

  </body>
</html>
